.App {
  text-align: center;
  box-sizing: border-box;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-box{
  width: 100%;
}

.search-box .search-bar {
  display: block;
  width: 50%;
  padding: 15px;
  

  background-color: rgba(250, 240, 240, 0.5);
  border-radius: 24px 24px 24px 24px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
  color: #313131;
  font-size: 25px;
  appearance: none;
  background: none;
  border:none;
  outline: none;

}

.search-box .search-bar:focus{
  background-color: rgba(250, 240, 240, 0.75);
}
